extends layout

block content
	div.mdl-card.mdl-shadow--6dp.mdl-layout--fixed-header
		header.mdl-layout__header.mdl-color--grey
			div.mdl-layout__header-row
				span.mdl-layout-title
					| Maginot Junior

		div.mdl-card_title
			h2(style='padding: 10px; padding-top: 20px').mdl-card__title-text Validator

		div.mdl-card__supporting-text
		
			
			div.mdl-textfield.mdl-js-textfield
				input(type='text', id='palindrome', name='palindrome').mdl-textfield__input
				label(for='palindrome').mdl-textfield__label Palindrome
				
			div.contentResponse
				span.response
			
			br
			br
			div.mdl-card__actions
				button(type="button").send.mdl-button.mdl-button--colored.mdl-button--raised.mdl-js-button.mdl-js-ripple-effect
					| Send to Verification
				
				
	script(src="/javascripts/main.js")
		