doctype html
html
	head
		title Teste ShawandPartners
		link(rel="stylesheet", href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700", type="text/css")
		link(rel='stylesheet', href='//fonts.googleapis.com/icon?family=Material+Icons')
		link(rel='stylesheet', href='//code.getmdl.io/1.2.1/material.grey-indigo.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src="https://code.getmdl.io/1.2.1/material.min.js")
		script(src="https://code.jquery.com/jquery-3.1.1.min.js", integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=", crossorigin="anonymous")
	body.mdl-color--grey-100
		div.mdl-layout.mdl-js-layout.layout-index
			main.mdl-layout__content
				block content